.status-icon {
    height: 0.5em;
    width: 0.5em;
    margin-right: 0.375em;
    border-radius: 50%;
}

.alive {
    background: var(--alive-color);
}

.dead {
    background: var(--dead-color);
}

.unknown {
    background: var(--unknown-color);
}