.main-character {
    display: grid;
    gap: 20px;
    grid-template-columns: 5fr 7fr;
    position: relative;
    padding: 0 10px;
}

.first-section {
    justify-self: center;
    align-self: flex-start;
}

.second-section {
    align-self: flex-start;
}

.species {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.species__value {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.info-section__image {
    border-radius: 18px;
}

.info-section-page__title {
    color: #484848;
    font-size: 0.75em;
}

.info-section-page__link {
    color: black;
    text-decoration: none;
}

.info-section-page__link:hover {
    color: #F2E96B;
}

.episode {
    margin-right: 10px;
}

.episodes-wrapper {
    column-count: 2;
}

.episode-code {
    color: rgba(112, 128, 144, 0.65)
}