main {
    display: grid;
    gap: 20px;
    grid-template-columns: 5fr 7fr;
    align-items: center;
    position: relative;
    padding: 0 10px;
}

.first-section {
    justify-self: center;
    align-self: flex-start;
}

.second-section {
    align-self: flex-start;
}

.species-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.species {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.status-character {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.character-img {
    border-radius: 18px;
}

.text-color-dark {
    color: #484848;
    font-size: .75em;
}

.external-link-dark {
    color: black;
    text-decoration: none;
}

.external-link-dark:hover {
    color: #F2E96B;
}

.episode {
    margin-right: 10px;
}

.episodes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.name {
    justify-self: center;
    text-decoration: underline;
}

.episode-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.episode-nav-item {
    display: flex;
    align-items: center;
}

.episode-nav-item:hover{
    text-decoration: underline;
    cursor: pointer;
}