footer {
    height: 140px;
    background: linear-gradient(180deg, rgba(242, 233, 107, 0) 0%, #F2E96B 100%);
    display: flex;
    align-items: end;
}

.footer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}
.copyright {
    font-size: 14px;
    grid-column: 1 / 5;
}