.main {
    display: grid;
    gap: 20px;
    grid-template-columns: 5fr 7fr;
    position: relative;
    padding: 0 10px;
}

.first-section {
    justify-self: center;
    align-self: flex-start;
}

.second-section {
    align-self: flex-start;
}

.species {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.species__value {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.info-section__status {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.status-icon {
    height: 0.5em;
    width: 0.5em;
    margin-right: 0.375em;
    border-radius: 50%;
}

.alive {
    background: var(--alive-color);
}

.dead {
    background: var(--dead-color);
}

.unknown {
    background: var(--unknown-color);
}

.info-section__image {
    border-radius: 18px;
}

.info-section__title {
    color: #484848;
    font-size: 0.75em;
}

.info-section__link {
    color: black;
    text-decoration: none;
}

.info-section__link:hover {
    color: #F2E96B;
}

.episode {
    margin-right: 10px;
}

.episodes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.episode-code {
    color: rgba(112, 128, 144, 0.65)
}